body {
  background-color: #f7f7f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: #0c090a;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

html{scroll-behavior:smooth};

h1 {
  font-size: 4.236em;
  color: #b20a44;
}
h2 {
  font-size: 2.618em;
  color: #b20a44;
}
h3 {
  font-size: 1.618em;
}
nav ul, footer ul, section.sticky-l ul {
  text-decoration: none;
  list-style: none;
}
p {
  line-height: 1.5em;
}
main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 60em) {
  .mw11rem-l {
    max-width: 11rem;
  }
}

nav ul li, footer ul li, p, section.sticky-l ul li {
position: relative;
}
section.sticky-l ul li {
  cursor: pointer;
}

nav ul li a, footer ul li a, section.sticky-l ul li a {
  font-size: 0.8em;
}
nav ul li a, footer ul li a, p a, section.sticky-l ul li a {
  cursor: pointer;
  text-decoration: none;
  padding: 3px;
  position: relative;
  color: #8d1946;
  text-transform: lowercase;
letter-spacing: 0.1em; }

nav ul li a:before, footer ul li a:before, p a:before, section.sticky-l ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #8d1946;
  transform-origin: bottom right;
  transform: scaleX(0);
transition: transform 0.2s ease-in-out; }

nav ul li a:hover:before,
nav ul li a:focus:before,
nav ul li a.active,
footer ul li a:hover:before,
footer ul li a:focus:before,
footer ul li a.active,
p a:hover:before,
p a:focus:before,
p a.active,
section.sticky-l ul li a:hover:before,
section.sticky-l ul li:hover a:before,
section.sticky-l ul li a:focus:before,
section.sticky-l ul li a.active:before {
  transform-origin: bottom left;
transform: scaleX(1); }

a.card {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em;
  background-color: #f7f7f4;
  overflow: hidden;
  color: #0c090a !important;
  transition: color 0.4s ease-in-out;
}

a.card::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #ffffff;
  transform-origin: center;
  transform: translate(80%, -80%) scale(0);
  transition: transform 0.45s ease-in-out;
}

a.card:hover, a.card:focus {
  cursor: pointer;
  outline: 2px dotted white;
}

a.card:hover::before, a.card:focus::before {
  transform: translate(100%, -100%) scale(70);
}
.sticky {
  position: sticky;
  position: -webkit-sticky;

}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #8d1946;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #b20a44;
  transform-origin: center;
  transform: translate(60%, -60%) scale(0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: white;
}

button:hover::before {
  transform: translate(60%, -60%) scale(17);
}
video {
  max-width: 100%;
}
pre {
  width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
}

.gist {
  max-height: 85vh;
  overflow-y: scroll;
}

p, li {
  line-height: 1.7;
}
::selection {
  background: #b20a44;
  color: #f7f7f4;
}
.text-highlight {
  background-color: white;
  color: #b20a44;
}
.shadow {
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (min-width: 60em) {
  .sticky-l {
  position: -webkit-sticky; /* Safari */

    position: sticky;
    max-width: 20em;
    top: 0;
    left: auto;
    z-index: 1;
    height:80vh;
  }
  section.sticky-l li {
    padding-top:1rem;
    padding-bottom:1rem;
  }
  h2 {
    margin-top:2rem !important;
  }
}
@media (max-width: 60em) {
  section.sticky-l li {
    padding-top:1rem;
    padding-bottom:1rem;
  }
  h2 {
    margin-top:1rem;
  }
}
img, iframe {
  z-index: 2;
  position:relative;
}
@media (max-width: 80em) {
  section p, section ul, section ol, pre {
    max-width: 40rem;
  }
}

@media (min-width: 80em) {
  section p, section ul, section ol, pre {
    max-width: 60rem;
  }
}
section li {
  padding-top:2rem;
}

h4 {
margin-top:2rem;
margin-bottom:1rem;
}
